---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a ",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			i am a great spirit overcoming the tides, follow me 
let your flesh meet steel!
		</p>
		<p>
			my github <a
				class="cactus-link inline-block"
				href="https://github.com/crapybara"
				rel="noreferrer"
				target="_blank">repo</a
			>
		</p>
	</div>
</PageLayout>
